In [1]:
import pandas as pd

In [2]:
individual2016 = pd.read_csv("Data/individual2016.csv")

In [3]:
individual2016

,FPX,AGE_CHG,INTV_QRT,SEX,NOWAF,FSPOUS2,COHAB1,COHAB2,FCOHAB3,ASTATFLG,...,EDUC1,ERNYR_P,ARMFTM7P,ARMFTM1P,ARMFTM2P,ARMFTM3P,ARMFTM4P,ARMFTM5P,ARMFTM6P,ENGLANG
0,1,NaN,1,1,2.0,NaN,2.0,NaN,2.0,1.0,...,15,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2,NaN,1,2,2.0,NaN,2.0,NaN,1.0,2.0,...,15,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,1,NaN,1,2,2.0,NaN,NaN,NaN,NaN,1.0,...,18,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1.0,...,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,1,NaN,1,2,2.0,NaN,NaN,NaN,NaN,2.0,...,5,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97164,1,NaN,4,1,NaN,NaN,NaN,NaN,NaN,2.0,...,8,NaN,2.0,NaN,2.0,2.0,2.0,2.0,1.0,1.0
97165,2,NaN,4,1,2.0,3.0,NaN,NaN,NaN,2.0,...,11,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
97166,3,NaN,4,2,2.0,2.0,NaN,NaN,NaN,0.0,...,14,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
97167,1,NaN,4,1,2.0,2.0,NaN,NaN,NaN,1.0,...,16,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
97168,2,NaN,4,2,2.0,1.0,NaN,NaN,NaN,2.0,...,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0